

/*фоновое изображение хедера*/
.header-image{
    background: url(/image/Layer14.jpg) no-repeat center center;
}
/*выделение активной страницы*/
#p_home{
    font-weight: 700;
}
/*главный текст хедера и кнопка*/
.wrapper1{
    margin-top: 250px;
    margin-left: 15%;
}
.wrapper1 p:first-of-type{
    font-size: 38px;
    margin-bottom: 14px;
}
.wrapper1 p{
    margin-bottom: 20px;
    font-family: 'Roboto', 'Arial',sans-serif;
    color: white;
}
div.wrapper1 button{
    width: 185px;
    height: 50px;
}

/*начало основного содержимого сайта*/
/*блок 1-1*/

.block1-1{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 95px;
    flex-direction: column;
}
h1.chapter{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #0f5f5c;
    font-weight: 300;
    font-size: 32px;
}
div.line{
    border-bottom: solid #6fb048 1px;
    width: 65px;
    margin: 0 auto;
    padding-top: 15px;

}
div.chapter{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    font-size: 15px;
    padding-top: 18px;
}
/*блок 1-2*/

.block1-2{
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}
.block1-2 div{
    flex: 0 0 20%;
}
.block1-2 figcaption{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #0f5f5c;
    font-weight: 400;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 18px;
}
.block1-2 p{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    font-size: 14px;
}
/*две полосы. Вертикальная и горизонтальная*/

.two-line{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.two-line div:first-of-type{
    border-left: solid #f2f2f2 2px;
    height: 90px;
    margin-left: 50%;
}
.two-line div:last-of-type{
    border-bottom: solid #f2f2f2 2px;
    width: 90px;
    margin: 0 auto;
}
.block1-3,
.block1-4{
    display:flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 50px;
}
.block1-3 div,
.block1-4 div{
    flex: 0 0 33.333%;
}
.block1-3 p,
.block1-4 p{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    clear: both;
    font-size: 14px;
}
.block1-3 figure,
.block1-4 figure{
    float: left;
}
.block1-3 figcaption,
.block1-4 figcaption{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #0f5f5c;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
    float: right;
    text-align: left;
    margin-left: 18px;
    padding-top: 8px;
}

/*фон второго блока*/
.back-color2{
    width: 100%;
    background-color: #eef1ec;
    margin-top: 130px;
}

/*шапка блока 2*/
.block2-1{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-top: 75px;
    flex-direction: column;
    padding-bottom: 25px;
}
/*содержимое блока 2. Блок с телефоном.*/

.block2-2{
    display:flex;
    justify-content: space-around;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}
.block2-2 div{
    flex: 0 0 40%;
}
.block2-2{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    margin-top: 14px;
}
figure.img-box-hand{
    background-image: url(/image/Hand.png);
    background-position: left bottom;
    background-size: cover;
    width: 434px;
    height: 515px;
}
.block2-2 div:last-of-type{
    margin-top: 100px;
}
.block2-2 div h1.chapter{
    margin-bottom: 20px;
}
.block2-2 div p{
    line-height: 1.5em;
}
.check-mark{
    margin-top: 20px;
}
 
/*начало 3-го блока. Блок с Валерией Болтневой.*/

.block3-1{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 660px;
}
.block3-1 div:first-of-type{
    flex: 0 0 33%;
    margin-right: 40px;
}
.block3-1 div:last-of-type{
    flex: 0 0 33%;
    margin-left: 40px;
}
figure.img-box-boltneva{
    background-image: url(/image/Valeria-Boltneva.jpg);
    background-position: center center;
    background-size: cover;
    width: 390px;
    height: 390px;
    border-radius: 50%;
}
.block3-1 p:first-of-type{
    font-family: 'Myriad Pro', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
}
.block3-1 p.name{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #6fb048;
    font-weight: 400;
    font-size: 14px;
    margin-top: 60px;
}
.block3-1 p:last-of-type{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

/*начало 4-го блока. Блок с картой мира*/

.back-color4{
    width: 100%;
    background-color: #eef1ec;
}
.block4-1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 500px;
}
.block4-1 div:first-of-type{
    flex: 0 0 40%;
    margin-left: 5%;
}
.block4-1 div:last-of-type{
    flex: 0 0 40%;
    margin-left: 40px;
}
.block4-1 p{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.5em;
}
figure.img-box-map{
    background-image: url(/image/map2.png);
    background-position: left center;
    background-size: cover;
    width: 600px;
    height: 355px;
}

/*начало 5-го блока. Блок с прайсом.*/

.block5-1{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 95px;
    flex-direction: column;
}
.block5-2{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
.block5-2 div{
    flex: 0 0 15%;
    border: solid #c1d3d2 1px;
    margin-left: -1px;
    position: relative;
}
h3.categories{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #6fb048;
    font-weight: 700;
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 16px;
}
p.icon-dollar{
    font-family: 'Montserrat', ' Helvetica',sans-serif;
    color: black;
    font-size: 65px;
    font-weight: 700;
}
p.month{
    position: absolute; 
    left: 42%; 
    top: 130px;
    font-family: 'Montserrat', ' Helvetica',sans-serif;
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.block5-2 div p:last-of-type{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    font-size: 14px;
    margin-top: 25px;
    line-height: 2em;
}
.block5-2 button{
    width: 140px;
    height: 40px;
    margin: 25px;
}

/*начало 6-го блока*/

.block6-1{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    flex-direction: column;
}
.block6-2{
    display:flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 25px;
}
.block6-2 div{
    flex: 0 0 25%;
}
.block6-2 p{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: #97b4b3;
    font-weight: 400;
    font-size: 14px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.block6-2 div:first-of-type{
    margin-left: 10%;
}
.block6-2 div:last-of-type{
    margin-right: 10%;
}

/*7-ой блок. Помощь.*/

.block7-1{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    flex-direction: column;
}
.block7-1 h1.chapter{
    color:#6fb048;
}
.block7-1 div:last-of-type{
    font-family: 'Roboto', 'Arial',sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin-top: 36px;
}

/*8-ой блок. "Скачать"*/
.cover-img8{
    background: url(/image/Layer-10.png) no-repeat center center;
    width: 100%;
    height: 200px;
    margin-top: 90px;
}
.block8-1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    flex-direction: row;
    height: 200px;
}
.block8-1 div:first-child{
    flex: 0 0 35%;
}
.block8-1 div:last-child{
    flex: 0 0 16%;
}
.block8-1 h1{
    font-size: 28px;
}
.block8-1 div.chapter{
    padding-top: 2px;
}
.block8-1 button{
    width: 285px;
    height: 42px;
}

/* НАЧАЛО АДАПТИВА! БРЕЙКПОИНТЫ!*/

@media (max-width:1200px){
    /*2-ой блок. Содержимое с телефоном.
    И текстом.*/
    .block2-2{
        margin-right: 5%;
        margin-left: 5%;
    }
    .block2-2 div:last-of-type{
        margin-top: 50px;
    }

    /*3-ий блок. Валерия Болтнева*/

    figure.img-box-boltneva{
        width: 340px;
        height: 340px;
    }

    /*4-ый блок. Карта мира*/

    figure.img-box-map{
        width: 480px;
        height: 300px;
    }

}

@media (max-width:992px){
    /*2-ой блок. Содержимое с телефоном.*/

    .block2-2{
        margin-right: 3%;
        margin-left: 3%;
    }
    .block2-2 div:last-of-type{
        margin-top: 20px;
        margin-left: 2%;
    }

    /*3-ий блок. Валерия Болтнева*/

    figure.img-box-boltneva{
        width: 300px;
        height: 300px;
    }

    /*4-ый блок. Карта мира*/

    figure.img-box-map{
        width: 445px;
        height: 265px;
    }
    .block4-1 div:first-of-type{
        flex: 0 0 30%;
    }
    
    
}

@media (max-width:767px){
    body{
        max-width: none;
    }
    /*адаптив первого блока*/
    /*блок 1-2*/
    .block1-1{
        margin-top: 30px;
    }
    .block1-2{
        margin-top: 50px;
    }
    .block1-2 div{
        flex: 0 0 30%;
    }
    /*две полосы. Вертикальная и горизонтальная*/
    /*скрываем горизонтальную полосу*/
    
    .two-line div:first-of-type{
        display: none;
    }
    .block1-3,
    .block1-4{
        display:flex;
        text-align: left;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 0px;
    }
    .block1-3 div,
    .block1-4 div{
        flex: 0 0 48%;
        margin-top: 30px;
    }
    
    /*адаптив второго блока*/
    /*шапка 2-го блока*/
    
    .block2-1{
        padding-top: 30px;
    }
    /*содержимое блока 2. Блок с телефоном.*/
    
    .block2-1{
        margin: 3%;
    }
    .block2-2{
        margin: 3%;
    }
    .block2-2 div{
        flex: 0 0 45%;
    }
    figure.img-box-hand{
        background-size: contain;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        vertical-align: bottom;
    }
    figure.img-box-map{
        width: 390px;
        height: 215px;
    }

}

@media (max-width:690px){

    .wrapper1{
        margin-left: 3%; /*отступы хедера*/
        margin-right: 3%;
    }
    /*адаптив 1-го блока*/
    .block1-3,
    .block1-4{
        flex-direction: column;
    }
    
    /*Блок 3. Фото Болтнева*/
    .block3-1{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 570px;
    }
    .block3-1 div:first-of-type{
        margin: 3%;
    }
    .block3-1 div:last-of-type{
        margin: 0;
    }

    /*адаптив блока с картой мира*/
    figure.img-box-map{
        background-size: contain;
        height: 100%;
        background-repeat: no-repeat;
         vertical-align: bottom;
    }
    .block4-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .block4-1 div:first-of-type{
        margin-top: 30px;
        margin-left: 3%;
        margin-right: 3%;
    }
    .block4-1 div:last-of-type{
        margin-bottom: 30px;
        margin-left: 3%;
        margin-right: 3%;
    }
    /*Блок 5. Прайс*/
    .block5-1{
        display:flex;
        margin-top: 30px;
        margin-left: 3%;
        margin-right: 3%;
    }
    /*адаптив 6-ой секции.*/
    .block6-1{
        margin-top: 40px;
    }
    .block6-2{
        display:flex;
        justify-content: space-between;
        text-align: left;
        margin-top: 25px;
    }
    .block6-2 div{
        flex: 0 0 28%;
    }
    .block6-2 p{
        padding-left: 0px;
    }
    .block6-2 div:first-of-type{
        margin-left: 3%;
    }
    .block6-2 div:last-of-type{
        margin-right: 3%;
    }

    /*8-ой блок. "Скачать"*/
    .cover-img8{
        margin-top: 50px;
    }
    .block8-1{
        text-align: center;
        flex-direction: column;
        margin-left: 3%;
        margin-right: 3%;
    }
    .block8-1 div:first-child{
        flex: 0 0 35%;
    }
    .block8-1 div:last-child{
        flex: 0 0 25%;
    }
    .block8-1 button{
        width: 285px;
        height: 42px;
    }  
}

@media (max-width:600px){

    /*блок 2. Изображение с телефоном.*/

    .block2-2{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .block2-2 div:first-of-type{
        width: 100%;
        height: 280px;
        margin-top: 20px;
    }

    /*3-ий блок. Валерия Болтнева*/

    figure.img-box-boltneva{
        width: 250px;
        height: 250px;
    }

    /*адаптив блока с картой мира*/

    .block4.1 {
        padding-bottom: 20px; /*для того, чтобы карта помещалась в поле*/
    }

    figure.img-box-map{
        width: 290px;
        margin-top: 10px;
    }

    /*Блок с прайсом*/
    .block5-2{
        display:flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
        margin-left: 25%;
        width: 50%;
    }
    .block5-2 div{
        flex: 0 0 5%;
        border: solid #c1d3d2 1px;
        margin-top: -1px;
        position: relative;
    }
}